{% extends 'djmarketplace/home.html' %}
{% load i18n %}

{% block title %}{% trans "Purchase history" %}{% endblock %}

{% block content %}
    <h1>{% trans "Purchase history" %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <table border="1">
       <tr>
           <th>user</th>
           <th>product_name</th>
           <th>product_price</th>
           <th>amount</th>
           <th>status</th>
           <th>shop_id</th>
           <th>creation_data</th>
       </tr>
       {% for obj in product_list %}
       <tr>
           <td>{{ obj.name }}</td>
           <th>{{ obj.email }}</th>
           <th>{{ obj.message }}</th>
           <th>{{ obj.status }}</th>
           <th>пусто</th>
           <th>пусто</th>
           <th>пусто</th>
       </tr>
        {% endfor %}
    </table>

        <button type="submit" style="background: #00405d; color: #FFFFFF;">{% trans "Pay" %}</button>
    </form>
    <h2>{% trans "Total amount of paid goods: " %} {{ full_sum }}</h2>
{% endblock %}
