{% extends 'market/home.html' %}
{% load i18n %}

{% block title %}{% trans "category info" %}{% endblock %}

{% block content %}
<h1>{{ shop_name }}</h1>
    {% for obj in category_list %}
        <!--
        <div id="left_sidebar">
            <p><img src="{{ obj.icon_field.url }}" width="20%" height="20%"></p>
            <p><a href="category/{{ obj.id }}">{{ obj.name }}</a></p>
        </div>
        -->
        <figure style="background: 	#ffffff; padding: 10px;
                       display: block; width: 250px; min-height: 200px; float: left;
                       margin: 0 10px 10px 0; text-align: center;">
            <p><img style="width: 90%;" src="{{ obj.icon_field.url }}" alt="" /></p>
            <figcaption style="color: #fff;"><a href="category/{{ obj.id }}">{{ obj.name }}</a></figcaption>
        </figure>
    {% endfor %}
{% endblock %}
